<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.GLXNAVWebAppConnectionString"
            connectionString="Data Source=10.10.116.35;Initial Catalog=GLXNAVWebApp_TEST;Persist Security Info=True;User ID=sa;Password=sa@12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>