<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GLXNAVWebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
  </configSections>
  <!--<connectionStrings>-->
  <!--<add name="GLXNAVWebAppConnectionString1" connectionString="Data Source=LHCMMIS001;Initial Catalog=GLXNAVWebApp;User ID=sa;Password=sa@12345"
      providerName="System.Data.SqlClient" />-->
  <!--<add name="GLXNAVWebAppConnectionString1" connectionString="Data Source=10.10.116.34;Initial Catalog=GLXNAVWebApp;User ID=sa;Password=sa@12345"
      providerName="System.Data.SqlClient" />-->
  <!--<add name="GLXNAVWebAppConnectionString1" connectionString="Data Source=10.10.116.34;Initial Catalog=GLXNAVWebApp;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  <!--</connectionStrings>-->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </httpModules>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false"/>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"   />
    </httpHandlers>
    <pages>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext"/>
      </controls>
      <namespaces>
        <add namespace="Ext.Net"/>
        <!--<add namespace="Ext.Net.MVC"/>-->
      </namespaces>
    </pages>
    <sessionState timeout="60"></sessionState>
    <!--<authentication mode="Forms">
      <forms loginUrl="/login.aspx"></forms>
    </authentication>-->
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <GLXNAVWebApp.Properties.Settings>
      <setting name="GLXNAVWebApp_ItemList_ItemList_Service" serializeAs="String">
        <value>http://lhcmmis001:7047/DynamicsNAV80/WS/API%20TC/Page/ItemList</value>
      </setting>
      <setting name="GLXNAVWebApp_LocationList_LocationList_Service"
        serializeAs="String">
        <value>http://lhcmmis001:7047/DynamicsNAV80/WS/API%20TC/Page/LocationList</value>
      </setting>
      <setting name="GLXNAVWebApp_PurchaseOrderList_PurchaseOrderList_Service"
        serializeAs="String">
        <value>http://lhcmmis001:7047/DynamicsNAV80/WS/API%20TC/Page/PurchaseOrderList</value>
      </setting>
      <setting name="GLXNAVWebApp_ItemUnitsofMeasure_ItemUnitsofMeasure_Service"
        serializeAs="String">
        <value>http://lhcmmis001:7047/DynamicsNAV80/WS/API%20TC/Page/ItemUnitsofMeasure</value>
      </setting>
      <setting name="GLXNAVWebApp_Companies_Companies_Service" serializeAs="String">
        <value>http://glxpwnav01:9047/GALAXYNAV/WS/GALAXY_BTR/Page/Companies</value>
      </setting>
      <setting name="GLXNAVWebApp_ReqWkshNames_ReqWkshNames_Service"
        serializeAs="String">
        <value>http://glxpwnav01:9047/GALAXYNAV/WS/GALAXY_BTR/Page/ReqWkshNames</value>
      </setting>
      <setting name="GLXNAVWebApp_Item_Reclass_Journal_Item_Reclass_Journal_Service"
        serializeAs="String">
        <value>http://glxpwnav01.galaxy.local.vn:9047/GALAXYNAV/WS/GALAXY_BMT_COPY/Page/Item_Reclass_Journal</value>
      </setting>
      <setting name="GLXNAVWebApp_PurchaseOrder_PurchaseOrder_Service"
        serializeAs="String">
        <value>http://10.10.116.33:9047/GALAXYNAV/WS/GALAXY_BMT/Page/PurchaseOrder</value>
      </setting>
      <setting name="GLXNAVWebApp_ReqWorksheet_ReqWorksheet_Service"
        serializeAs="String">
        <value>http://10.10.116.33:9047/GALAXYNAV/WS/GALAXY_BMT/Page/ReqWorksheet</value>
      </setting>
      <setting name="GLXNAVWebApp_GLXWebService_GLXWebService_Service"
        serializeAs="String">
        <value>http://10.10.116.33:9047/GALAXYNAV/WS/GALAXY_BMT_COPY/Page/GLXWebService</value>
      </setting>
      <setting name="GLXNAVWebApp_PurchaseOrder_CU_PurchaseOrder" serializeAs="String">
        <value>http://10.10.116.33:9047/GALAXYNAV/WS/GALAXY_BMT_COPY/Codeunit/PurchaseOrder</value>
      </setting>
      <setting name="GLXNAVWebApp_DimensionValueList_DimensionValueList_Service"
        serializeAs="String">
        <value>http://10.10.116.33:9047/GALAXYNAV/WS/GALAXY_BMT_COPY/Page/DimensionValueList</value>
      </setting>
      <setting name="GLXNAVWebApp_ItemVendorCatalog_ItemVendorCatalog_Service"
        serializeAs="String">
        <value>http://10.10.116.33:9047/GALAXYNAV/WS/GALAXY_BMT_COPY/Page/ItemVendorCatalog</value>
      </setting>
      <setting name="GLXNAVWebApp_ReqWorksheet_svc_ReqWorksheet_Service"
        serializeAs="String">
        <value>http://10.10.116.33:9047/GALAXYNAV/WS/GALAXY_BMT_COPY/Page/ReqWorksheet</value>
      </setting>
      <setting name="GLXNAVWebApp_DataReviewWorksheet_DataReviewWorksheet_Service"
        serializeAs="String">
        <value>http://10.10.116.33:9047/GALAXYNAV/WS/GALAXY_BMT_TEST/Page/DataReviewWorksheet</value>
      </setting>
    </GLXNAVWebApp.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="Server" value="http://GLXPWNAV01:"/>
    <add key="Port" value="9047"/>
    <add key="Instance" value="GALAXYNAV"/>
    <add key="WebService" value="WS"/>
    <add key="Company" value="GALAXY_BMT_COPY"/>
    <add key="PageType" value=""/>
    <add key="ServiceName" value=""/>
    <add key="authorizeduser" value="navprd"/>
    <add key="authorizeduserpsw" value="GalaxySid123"/>
    <!--<add key="Server" value="http://glxpwnav02:" />
    <add key="Port" value="8052" />
    <add key="Instance" value="MyNavInstance" />
    <add key="WebService" value="WS" />
    <add key="Company" value="GALAXY_MASTER" />
    <add key="PageType" value="" />
    <add key="ServiceName" value="" />
    <add key="authorizeduser" value="phongdd" />
    <add key="authorizeduserpsw" value="Canloi003" />-->
  </appSettings>
  <extnet theme="Neptune" licenseKey="** Ext.NET LICENSE KEY HERE **"/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBSL_GLXAccount"/>
        <binding name="BasicHttpBinding_IBSL_RequisitionWkshName1"/>
        <binding name="BasicHttpBinding_IBSL_RequisitionWkshName"/>
        <binding name="BasicHttpBinding_IBSL_POWaitingForApprove" maxReceivedMessageSize="1000000"/>
        <binding name="BasicHttpBinding_IBSL_Permissions"/>
        <binding name="BasicHttpBinding_IBSL_LocationAndAccount"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:27169/SVC/BSL_RequisitionWkshName.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBSL_RequisitionWkshName1" contract="GLXRequisitionWkshName.IBSL_RequisitionWkshName" name="BasicHttpBinding_IBSL_RequisitionWkshName1"/>
      <endpoint address="http://localhost:27169/SVC/BSL_POWaitingForApprove.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBSL_POWaitingForApprove" contract="POWaitingForApprove.IBSL_POWaitingForApprove" name="BasicHttpBinding_IBSL_POWaitingForApprove"/>
      <endpoint address="http://localhost:27169/SVC/BSL_Permissions.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBSL_Permissions" contract="Permissions.IBSL_Permissions" name="BasicHttpBinding_IBSL_Permissions"/>
      <endpoint address="http://localhost:27169/SVC/BSL_LocationAndAccount.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBSL_LocationAndAccount" contract="RBSL_LocationAndAccount.IBSL_LocationAndAccount" name="BasicHttpBinding_IBSL_LocationAndAccount"/>
      <endpoint address="http://localhost:27169/SVC/BSL_GLXAccount.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBSL_GLXAccount" contract="GLXAccountSVC.IBSL_GLXAccount" name="BasicHttpBinding_IBSL_GLXAccount"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>
<!--Neptune|Gray-->